body {
    height: 100vh;
    margin: 0;
    position: relative;
}

p {
    display: flex;
    justify-content: center;
}

.botao-fujao {
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    position: absolute; /* Permite mover o botão livremente usando top e left */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o botão no início */
    transition: all 0.1s ease; /* Deixa o movimento suave */
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.cabecalho {
    display: flex;
    align-items: center;
    gap: 15px;
}

.problema {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

header {
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(204, 157, 248);
}

img.side {
    float: right;
}

